#image-slider {
    width: 500px;
    margin: auto;
    padding: 0;
}
#slider-image {
    /* display: flex; */
    width: 500px;
    text-align: center;
    align-items: center;
    align-content: center;
    border-radius: 10px;
}

@media screen and (max-width: 500px) {
    #slider-image {
        max-width: 200px;
    }

    #image-slider {
        position: relative;
        margin: 0;
        width: 0;
        /* right: 100; */
        margin-left: 25%;
        top: 75px;
        /* margin-top: 15%; */
        /* margin-right: 30%; */
    }
}