#mobile-navbar {
    display: none;
    font-size: 25pt;
    background-color: #3499af;
    color: white;
    text-align: left;
    padding-left: 1.5rem;
}

#mobile-menu {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
    margin-left: 1.5rem;
}

.navbar-li-mobile {
    align-items: center;
    text-align: center;
    display: flex;
}

@media screen and (max-width: 500px) {
    #mobile-navbar {
        display: block;
    }
}