#mobile-navbar {
    display: none;
    font-size: 25pt;
    background-color: #3499af;
    color: white;
    text-align: left;
    padding-left: 1.5rem;
}

#hidden-mobile-menu a {
    color: black;
    list-style-type: none;
    padding: .5rem;
}

#hidden-mobile-menu {
    border: 1px solid black;
}

#mobile-navbar:hover {
    background-color: #1e6372;
    transition: 0.4s;
}

#mobile-menu {
    display: none;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
    margin-left: 1.5rem;
    /* background-color: #3499af; */
}

.navbar-li-mobile {
    align-items: center;
    text-align: center;
    display: flex;
}

@media screen and (max-width: 500px) {
    #mobile-navbar {
        display: block;
    }
}