.navbar {
    background-color: #3499af;
    overflow: hidden;
    margin: none;
}

.navbar a {
    float: left;
    margin: auto;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;
}

#navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
    margin-left: 1.5rem;
}

.navbar a.active {
    background-color: #04AA6D;
    color: white;
}

.navbar a:hover {
    background-color: #1e6372;
    transition: 0.4s;
}

.navbar-li {
    align-items: center;
    display: inline-block;
    
}

@media screen and (max-width: 500px) {
    .navbar {
        display: none;
    }
}