p {
    max-width: 1000px;
    text-align: center;
    align-items: center;
    margin: auto;
    font-size: 16pt;
    margin-bottom: 2rem;
}

@media  (max-width: 500px) {
    p {
        max-width: 90%;
    }
}