.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#top-image-slider {
  align-items: center;
  width: 50%;
  height: 40%;
  margin: auto;
  padding: 1rem;
}

#facilities-image-slider {
  align-items: center;
  width: 50%;
  height: 40%;
  margin: auto;
  padding: 1rem;
}

#mrs-melanie {
  width: 25%;
  border: 1px;
  border-radius: 5px;
}


@media screen and (max-width: 500px) {
  #mrs-melanie {
    width: 50%;
  }
}

#main-body {
  align-items: center;
  background-image: url("Pattern.jpg");
}

#main-content {
  align-items: center;
  background-color: white;
  margin-left: 20%;
  margin-right: 20%;
  /* width: 1000px; */
}